.container {
  width: 100%;
  height: 100%;
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header {
  width: 100%;
  padding: 0 90px;
}
.backBtn {
  height: 20px;
  width: 60px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.backBtn svg {
  height: 100%;
  transform: rotate(180deg);
  fill: rgb(105, 105, 105);
}
.backBtn div {
  width: 100%;
  height: 13%;
  background-color: rgb(99, 99, 99);
}
.header h1 {
  margin-top: 15px;
  font-family: "Dancing Script", cursive;
  font-size: 5.4rem;
  font-weight: 400;
}
.titleSub {
  font-family: var(--font-family);
  font-size: 1rem;
  font-weight: 500;
  margin-top: 15px;
}
.discription {
  font-family: var(--font-family);
  font-size: 0.8rem;
  font-weight: 400;
}
.chosen {
  display: flex;
  align-items: center;
  margin-top: 25px;
}
.chosen p {
  font-family: var(--font-family);
  font-size: 1rem;
  font-weight: 500;
  margin-right: 20px;
}
.tagWraper {
  display: flex;
  flex-grow: 1;
  overflow: scroll;
  /* this will hide the scrollbar in mozilla based browsers */
  overflow: -moz-scrollbars-none;
  /* this will hide the scrollbar in internet explorers */
  -ms-overflow-style: none;
}
.tagWraper::-webkit-scrollbar {
  width: 0 !important;
  display: none;
}

/*search and button*/
.searchNBtn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  margin-top: 30px;
}
.search {
  display: flex;
  height: 100%;
  border-radius: 99px;
  border: solid 1px rgb(53, 53, 53);
  padding: 2px 0.7rem 2px 1rem;
  align-items: center;
}
.search input {
  width: 200px;
  background-color: transparent;
  border: none;
  outline: none;
  font-family: var(--font-family);
  font-size: 1rem;
}
.searchIcon {
  height: 50%;
}
.searchIcon svg {
  height: 100%;
  fill: rgb(128, 128, 128);
}

.continue {
  height: 100%;
}
.continue button {
  height: 100%;
  padding: 0 40px;
  background-color: var(--color-main);
  border-radius: 99px;
  border: none;
  outline: none;
  color: white;
  font-family: var(--font-family);
  font-size: 1rem;
  cursor: pointer;
}

/*ingredients*/
.ingredientsWraper {
  flex-grow: 1;
  width: 100%;
  margin-top: 30px;
  overflow-y: scroll;
  /* this will hide the scrollbar in mozilla based browsers */
  overflow: -moz-scrollbars-none;
  /* this will hide the scrollbar in internet explorers */
  -ms-overflow-style: none;
}
/* this will hide the scrollbar in webkit based browsers - safari, chrome, etc */
.ingredientsWraper::-webkit-scrollbar {
  width: 0 !important;
  display: none;
}

.body {
  position: relative;
  padding: 0 90px;
  padding-bottom: 200px;
  min-height: 100%;
}
.ingrediens {
  max-width: 900px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-row-gap: 50px;
}
.noFound {
  margin: auto;
  grid-column-start: 1;
  grid-column-end: span 4;
  font-family: var(--font-family);
  font-size: 1rem;
  margin-top: 50px;
}

/*fotter*/
.footer {
  width: 900px;
  max-width: 80%;
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  background-color: var(--color-main);
  position: absolute;
  right: 0;
  bottom: 0;
  border-top-left-radius: 999px;
}
.footer .logo {
  height: 60px;
  width: 160px;
  position: relative;
}
.footer p {
  font-family: var(--font-family);
  font-size: 1rem;
  color: white;
}
@media (max-width: 750px) {
  .container {
    padding-top: 30px;
  }
  .header {
    width: 100%;
    padding: 0 40px;
  }
  .body {
    padding: 0 30px;
    padding-bottom: 200px;
  }

  /*fotter*/
  .footer {
    height: 90px;
    border-top-left-radius: 999px;
  }
  .footer .logo {
    height: 50px;
    width: 130px;
    position: relative;
  }
  .footer p {
    font-family: var(--font-family);
    font-size: 1rem;
    color: white;
  }
}
@media (max-width: 600px) {
  .container {
    padding-top: 15px;
  }
  .header {
    width: 100%;
    padding: 0 40px;
  }
  .body {
    padding: 0 30px;
    padding-bottom: 200px;
  }

  /*header*/
  .backBtn {
    height: 12px;
  }
  .header h1 {
    margin-top: 10px;
  }
  .titleSub {
    margin-top: 10px;
  }
  .chosen {
    display: flex;
    align-items: center;
    margin-top: 15px;
  }
  .searchNBtn {
    height: 35px;
    margin-top: 20px;
  }

  /*fotter*/
  .footer {
    height: 80px;
    border-top-left-radius: 999px;
    padding: 0 30px;
    max-width: 90%;
  }
  .footer .logo {
    height: 40px;
    width: 110px;
  }
  .footer p {
    font-size: 1rem;
  }
}
@media (max-width: 550px) {
  .header {
    width: 100%;
    padding: 0 15px;
  }
  .body {
    padding: 0 30px;
    padding-bottom: 200px;
  }
}
@media (max-width: 550px) {
  .body {
    padding: 0 8px;
    padding-bottom: 200px;
  }
  .chosen p {
    margin-right: 10px;
  }
}
@media (max-width: 500px) {
  .container {
    padding-top: 10px;
  }
  .header h1 {
    font-size: 4rem;
    font-weight: 500;
    margin-top: 0px;
  }
  .searchNBtn {
    height: 25px;
    margin-top: 15px;
  }
  .search input {
    width: 200px;
    max-width: 50vw;
    background-color: transparent;
    border: none;
    outline: none;
    font-family: var(--font-family);
    font-size: 1rem;
  }
  .searchIcon {
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .searchIcon svg {
    height: 100%;
    fill: rgb(128, 128, 128);
  }

  .body {
    padding-bottom: 150px;
  }

  .continue {
    height: 100%;
  }
  .continue button {
    padding: 0 20px;
  }
  .ingredientsWraper {
    margin-top: 10px;
  }

  /*fotter*/
  .footer {
    max-width: 95%;
  }
  .footer .logo {
    height: 35px;
  }
  .footer p {
    font-size: 0.8rem;
  }
}
